#Airbnb clone
/airbnb-experience-page-clone/node_modules/
#Artefact service
/artefact-service/target/
/artefact-service/.idea/
/artefact-service/.gitignore
#Joke generator
/joke-generator/
#My travel journal
/my-travel-journal/node_modules/